<p>Exercise1</p>
<p id="test">Clock</p><br>

<p>Exercise2</p>
<div>
  <input #myName/>
  <button (click)="getName(myName.value)">
    Enter
  </button>
</div>
<p id="name">Type your name!</p><br>

<p>Exercise3</p>
<div>
  <button #blue value="blue" (click)="changeColor(blue.value)">blue</button>
  <button #yellow value="yellow"(click)="changeColor(yellow.value)">yellow</button>
  <button #green value="green"(click)="changeColor(green.value)">green</button>
  <button #red value="red"(click)="changeColor(red.value)">red</button>
  <button #white value="white"(click)="changeColor(white.value)">white</button>
</div>
<label id="color">Change my Color!</label><br>


<br><app-messages></app-messages>